<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TITLE</key>
		<string>afn</string>
		<key>ID</key>
		<string>afnId</string>
	</dict>
	<dict>
		<key>TITLE</key>
		<string>photo</string>
		<key>ID</key>
		<string>photoBrowserId</string>
	</dict>
	<dict>
		<key>TITLE</key>
		<string>music</string>
		<key>ID</key>
		<string>musicId</string>
	</dict>
</array>
</plist>
